@model IEnumerable<Product>







    <header class="pb-5 overflow-hidden bg-green">
        <div class="container">
            <div class="row py-5">
                <div class="col-sm-6 text-lg-start">
                  
                </div>
            
            </div>

            <div class="row">
                <div class="col-lg-6 text-white text-center text-lg-start">
                    <h1 class="display-1 fw-normal mt-5">Explore our Products!</h1>
                <p class="my-4 lead fs-5">Our products play a key role during early life. From supporting healthy growth and development to providing the medical nutrition necessary when health is challenged including growth, cow's milk allergy or premature birth. Some products – those for intractable epilepsy and inherited metabolic disorders – can support children for the rest of their lives.</p>
                  <a href="#product" class="btn btn-green">Explore Now</a>
                </div>
                <div class="col-lg-6 phone-img d-none d-lg-flex justify-content-end gx-0 mt-5">
                    <img src="">
                </div>
            </div>
        </div>
    </header>

    <section id="sec-1" class="py-5 bg-grey">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-4 text-center sec-1-item mb-5">
                    <span class="d-flex align-items-center justify-content-center mx-auto text-white mb-4 circle-icon">
                        <i class="far fa-heart fs-3"></i>
                    </span>
                    <p class="lead fw-bold">Quality</p>
                <p class="fw-light mx-3 lh-lg">The best high-quality lenses are made from durable materials and use a series of treatments to help resist scratching and damage, while providing protection from UV rays. Prescription lenses are the best lenses for people who need one kind of vision correction that can be addressed with a single pair of lenses..</p>
                </div>
                <div class="col-md-4 text-center sec-1-item mb-5">
                    <span class="d-flex align-items-center justify-content-center mx-auto text-white mb-4 circle-icon">
                        <i class="far fa-flag fs-2"></i>
                    </span>
                    <p class="lead fw-bold">Reliability</p>
                <p class="fw-light mx-3 lh-lg"> the probability that a product, system, or service will perform its intended function adequately for a specified period of time, or will operate in a defined environment without failure.</p>
                </div>
                <div class="col-md-4 text-center sec-1-item mb-5">
                    <span class="d-flex align-items-center justify-content-center mx-auto text-white mb-4 circle-icon">
                        <i class="far fa-star fs-2"></i>
                    </span>
                    <p class="lead fw-bold">Delivery speed</p>
                <p class="fw-light mx-3 lh-lg">t's incredibly convenient. Consumers appreciate the convenience that comes with fast shipping. With same-day or next-day delivery options, customers no longer have to wait days or even weeks for their products to arrive. Instead, they can have their items delivered right to their doorsteps in a matter of hours..</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-2" class="py-5">
        <div class="container my-4">
            <div class="row gx-lg-5">
                <div class="col-lg-6 mb-5">
                    <img src="/images/test3.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <h3>Our product will amaze you</h3>
                <p class="text-muted fw-light lh-lg my-4">  We worked long and hard to create the glasses of our dreams, but before launching, we decided to test it out on two crowdfunding platforms: Kickstarter and Indiegogo.!</p>
                    
                <a href="#product" class="btn bg-danger"> explore now</a>
                </div>
            </div>
        </div>
    </section>
     <div class="abdo">
         <h1>Featured Glasses</h1>
     </div>


<section id="product">
    <div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                            @if (product.productImages != null && product.productImages.Count() > 0)
                            {
                                <img src="@product.productImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                            }
                            else
                            {
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            }


                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                    <p class="card-title text-warning text-center"> <b>@product.Category.Name</b></p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-dark text-opacity-75 text-center mb-0">
                                        List Price:
                                        <span class="text-decoration-line-through">
                                            @product.ListPrice.ToString("c")
                                        </span>
                                    </p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-dark text-opacity-75 text-center">
                                        Price
                                        <span>
                                            @product.Price.ToString("c")
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a asp-action="Details"
                               asp-route-productid="@product.Id"
                               class="btn btn-success bg-gradient border-0 form-control">
                                    More  Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</section>


    <section id="sec-3" class="py-5 text-white bg-green">
        <div class="container my-4">
            <div class="row mb-5">
                <div class="col text-center">
                    <h3 class="mb-4">Browse the features in detail</h3>
                    <p class="lh-lg fw-light pt-2 w-75 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, alias a natus deleniti neque ad cupiditate dicta explicabo nemo vel?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center text-sm-start mb-4">
                    <div class="row">
                        <div class="col-sm-2 d-sm-flex justify-content-sm-end">
                            <span class="d-flex align-items-center justify-content-center circle-icon bg-white text-green mx-sm-0 mx-auto mb-4">
                                <i class="fa fa-dot-circle fs-2"></i>
                            </span>
                        </div>
                        <div class="col-sm-10">
                        <h4>It adapts to your needs</h4>
                            <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatum ab a inventore neque. Tempora?</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 text-center text-sm-start mb-4">
                    <div class="row">
                        <div class="col-sm-2 d-sm-flex justify-content-sm-end">
                            <span class="d-flex align-items-center justify-content-center circle-icon bg-white text-green mx-sm-0 mx-auto mb-4">
                                <i class="fa fa-cog fs-2"></i>
                            </span>
                        </div>
                        <div class="col-sm-10">
                        <h4>Quality and good taste</h4>
                            <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatum ab a inventore neque. Tempora?</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 text-center text-sm-start mb-4">
                    <div class="row">
                        <div class="col-sm-2 d-sm-flex justify-content-sm-end">
                            <span class="d-flex align-items-center justify-content-center circle-icon bg-white text-green mx-sm-0 mx-auto mb-4">
                                <i class="fa fa-tv fs-2"></i>
                            </span>
                        </div>
                        <div class="col-sm-10">
                        <h4>Withstands high temperatures.</h4>
                            <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatum ab a inventore neque. Tempora?</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 text-center text-sm-start mb-4">
                    <div class="row">
                        <div class="col-sm-2 d-sm-flex justify-content-sm-end">
                            <span class="d-flex align-items-center justify-content-center circle-icon bg-white text-green mx-sm-0 mx-auto mb-4">
                                <i class="fa fa-crop fs-2"></i>
                            </span>
                        </div>
                        <div class="col-sm-10">
                            <h4>Pixel Perfect</h4>
                            <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatum ab a inventore neque. Tempora?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-4" class="py-5">
        <div class="container my-4">
            <div class="row gx-lg-5">
                <div class="col-lg-6 mb-5">
                    <h3>About as</h3>
                <p class="text-muted fw-light lh-lg my-4">
                    Based in Barcelona, Barner was founded in early 2017 by two friends. After living their lives totally immersed in the digital world, they had identified a problem that was not only affecting them, but millions of people all around the globe: overexposure to blue light.
                    As hard workers and technology lovers, their eyes couldn’t withstand the long hours spent every day in front of screens. They wanted to find a solution that would protect their eyes and improve their quality of life without sacrificing their style. After realizing that current solutions on the market weren’t good enough, they decided to create their own.
                    !
                </p>
                    <p class="text-muted fw-light lh-lg my-4"></p>
                    <a href="#product" class="btn btn-green">Learn more</a>
                </div>
                <div class="col-lg-6">
                    <img src="/images/section-4-bg.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <section id="sec-6" class="py-5">
        <div class="container my-4">
            <div class="row mb-5">
                <div class="col-12 text-center text-white">
                    <h3 class="mb-4"> Statistics</h3>
                    <p class="lh-lg fw-light pt-2 w-75 mx-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci aut nemo exercitationem qui numquam aliquid natus explicabo, deserunt repudiandae sit in animi cupiditate rem quia?</p>
                </div>
            </div>
            <div class="row text-uppercase text-center text-white">
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
                        20+
                    </div>
                    <h6>Store</h6>
                </div>

                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
                        50+
                    </div>
                    <h6>happy clients</h6>
                </div>

                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
                        90%
                    </div>
                    <h6>repeat </h6>
                </div>

                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="circle-icon bg-white text-green d-flex align-items-center justify-content-center mx-auto mb-4 fs-2 fw-bold">
                        9/10
                    </div>
                    <h6>average rating</h6>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-7" class="py-5">
        <div class="container my-4">
            <div class="row gx-md-5">
                <div class="col-md-6 my-3">
                    <div class="card text-center">
                        <img class="card-img-top" src="/images/test.webp">
                        <div class="card-body py-5">
                            <h4 class="card-title"> Clients are happy to do business with us </h4>
                            <p class="card-text py-3 lh-lg text-muted fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                        <a href="#product" class="btn btn-green">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card text-center">
                        <img class="card-img-top" src="/images/test1.webp">
                        <div class="card-body py-5">
                            <h4 class="card-title">Customer satisfaction is our goal </h4>
                            <p class="card-text py-3 lh-lg text-muted fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero reprehenderit, enim iure debitis doloremque nulla perspiciatis natus impedit obcaecati molestias sunt voluptate sed ipsa?</p>
                            <a href="#product" class="btn btn-green">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-8" class="py-5 bg-grey">
        <div class="container my-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="mb-5">Testimonials</h3>
                </div>
            </div>

            <div class="row">
                <div id="carouselInd" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselInd" data-bs-slide-to="0" class="active bg-green"></button>
                        <button type="button" data-bs-target="#carouselInd" data-bs-slide-to="1" class="bg-green"></button>
                        <button type="button" data-bs-target="#carouselInd" data-bs-slide-to="2" class="bg-green"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-12 row mx-auto">
                                <div class="row text-center text-lg-start">
                                    <img src="/images/tes-img-1.jpg" class="col-lg-3 mx-auto rounded-circle">
                                    <div class="py-4 col-lg-9">
                                        <p class="text-muted lh-lg fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem natus, fugit fuga ducimus nihil? Corporis, voluptatibus repudiandae. At rem consectetur, nemo nisi aperiam iusto!</p>
                                        <p class="text-green">Christine Walter, LA</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="col-12 row mx-auto">
                                <div class="row text-center text-lg-start">
                                    <img src="/images/tes-img-2.jpg" class="col-lg-3 mx-auto rounded-circle">
                                    <div class="py-4 col-lg-9">
                                        <p class="text-muted lh-lg fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem natus, fugit fuga ducimus nihil? Corporis, voluptatibus repudiandae. At rem consectetur, nemo nisi aperiam iusto!</p>
                                        <p class="text-green">Christine Walter, LA</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="col-12 row mx-auto">
                                <div class="row text-center text-lg-start">
                                    <img src="/images/tes-img-3.jpg" class="col-lg-3 mx-auto rounded-circle">
                                    <div class="py-4 col-lg-9">
                                        <p class="text-muted lh-lg fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem natus, fugit fuga ducimus nihil? Corporis, voluptatibus repudiandae. At rem consectetur, nemo nisi aperiam iusto!</p>
                                        <p class="text-green">Christine Walter, LA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






  @*  <script src="bootstrap/js/bootstrap.js"></script>
    <script src="script.js"></script>
*@









